<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas</title>
    <link rel="stylesheet" href="../static/estatisticasPageStyle.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            align-items: center;
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        .popup, .resultPopup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            z-index: 1000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .overlay {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
    </style>
</head>
<body>
    <div>
        <h1>Links com Popup</h1>
        <ul>
            <li><a href="#" onclick="showPopup('Popup 1: Informações sobre o link 1')">Porcentagem de vitórias das cartas de acordo com o tempo</a></li> 
            <li><a href="#" onclick="showDecksPopup()">Listar Decks com Vitória</a></li>
            <li><a href="#" onclick="showComboPopup()">Calcular Derrotas por Combo de Cartas</a></li>
            <li><a href="#" onclick="showVictoryPopup()">Calcular Vitórias com a Carta</a></li>
            <li><a href="#" onclick="showComboPopup1()">Calcular combos de</a></li>
        </ul>



        <div class="popup" id="comboPopup">
            <div id="comboContent"></div>
            <button onclick="closeComboPopup()">Fechar</button>
        </div>

        <div class="popup" id="decksPopup">
            <div id="decksContent"></div>
            <button onclick="closeDecksPopup()">Fechar</button>
        </div>

        <div class="overlay" id="overlay" onclick="closePopup()"></div>
        <div class="popup" id="popup">
            <div id="popupContent"></div>
            <button onclick="closePopup()">Fechar</button>
        </div>

        <div class="resultPopup" id="resultPopup">
            <div id="resultContent"></div>
            <button onclick="closeResultPopup()">Fechar</button>
        </div>
    </div>

</body>







<script>
    const cartas = {{ cartas | tojson | safe }};

    function showPopup(content) {
        let popupContent = document.getElementById('popupContent');

        if (content === 'Popup 1: Informações sobre o link 1') {
            let options = cartas.map(carta => `<option value="${carta.name}">${carta.name}</option>`).join('');
            popupContent.innerHTML = `
                <h2>Calcular Porcentagem de Vitórias</h2>
                <form id="vitoriaForm" action="/estatisticas" method="post" onsubmit="showResultPopup(event)">
                    <label for="carta">Escolha a carta:</label>
                    <select id="carta" name="carta" required>
                        ${options}
                    </select>
                    <br>
                    <label for="data_inicio">Data Início:</label>
                    <input type="date" id="data_inicio" name="data_inicio" required>
                    <br>
                    <label for="data_fim">Data Fim:</label>
                    <input type="date" id="data_fim" name="data_fim" required>
                    <br>
                    <button type="submit">Calcular</button>
                </form>
            `;
        } else {
            popupContent.innerText = content;
        }

        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function showResultPopup(event) {
        event.preventDefault(); // Impede o envio padrão do formulário
        const formData = new FormData(event.target);
        const carta = formData.get('carta');
        const dataInicio = formData.get('data_inicio');
        const dataFim = formData.get('data_fim');

        // Fetch para pegar os resultados do servidor
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target))
        })
        .then(response => response.json())
        .then(resultado => {
            // Atualiza o conteúdo do popup com os resultados do servidor
            document.getElementById('resultContent').innerHTML = `
                <p>Carta: ${resultado.carta}</p>
                <p>Porcentagem de vitórias: ${resultado.porcentagem_vitorias}%</p>
                <p>Porcentagem de derrotas: ${resultado.porcentagem_derrotas}%</p>
            `;
            document.getElementById('resultPopup').style.display = 'block';
            closePopup(); // Fecha o popup anterior
        })
        .catch(error => console.error('Erro ao obter os resultados:', error));
    }

    function closeResultPopup() {
        document.getElementById('resultPopup').style.display = 'none';
    }






function showComboPopup() {
    let comboContent = document.getElementById('comboContent');
    let options = cartas.map(carta => `<option value="${carta.name}">${carta.name}</option>`).join('');
    
    comboContent.innerHTML = `
        <h2>Calcular Derrotas por Combo de Cartas</h2>
        <form id="comboForm" action="/estatisticas" method="post" onsubmit="showComboResultPopup(event)">
            <label for="cartas_combo">Escolha a cartas:</label>
            <select id="cartas_combo" name="cartas_combo" required>
                ${options}
            </select>
            <br>
            <label for="cartas_combo">Escolha a cartas:</label>
            <select id="cartas_combo" name="cartas_combo" required>
                ${options}
            </select>
            <br>
            <label for="data_inicio">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>
            <br>
            <label for="data_fim">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" required>
            <br>
            <button type="submit">Calcular Derrotas</button>
        </form>
    `;
    document.getElementById('comboPopup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
}

function showComboResultPopup(event) {
    event.preventDefault(); // Impede o envio padrão do formulário
    const formData = new FormData(event.target);

    // Fetch para pegar os resultados do servidor
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(formData)
    })
    .then(response => response.json())
    .then(resultado => {
        document.getElementById('resultContent').innerHTML = `
            <p>Total de derrotas usando o combo: ${resultado.total_derrotas}</p>
        `;
        document.getElementById('resultPopup').style.display = 'block';
        closeComboPopup(); // Fecha o popup anterior
    })
    .catch(error => console.error('Erro ao obter os resultados:', error));
}

function closeComboPopup() {
    document.getElementById('comboPopup').style.display = 'none';
}


function showComboResultPopup1(event) {
    event.preventDefault(); // Impede o envio padrão do formulário
    const formData = new FormData(event.target);

    // Fetch para pegar os resultados do servidor
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(formData)
    })
    .then(response => response.json())
    .then(resultado => {
        let resultContent = '<h2>Combos de Cartas com Boa Vitória</h2>';
        
        if (Object.keys(resultado).length === 0) {
            resultContent += '<p>Nenhum combo encontrado.</p>';
        } else {
            for (const [combo, winRate] of Object.entries(resultado)) {
                resultContent += `<p>Combo: ${combo}, Taxa de Vitória: ${winRate.toFixed(2)}%</p>`;
            }
        }
        document.getElementById('resultContent').innerHTML = resultContent;
        document.getElementById('resultPopup').style.display = 'block';
        closeComboPopup(); // Fecha o popup anterior
    })
    .catch(error => console.error('Erro ao obter os resultados:', error));
}


function showComboPopup1() {
    let comboContent = document.getElementById('comboContent');
    let options = cartas.map(carta => `<option value="${carta.name}">${carta.name}</option>`).join('');

    comboContent.innerHTML = 
        `<h2>Calcular Combos de Cartas</h2>
        <form id="comboForm" action="/estatisticas" method="post" onsubmit="showComboResultPopup1(event)">
            <label for="tamanho_combo">Tamanho do Combo:</label>
            <input type="number" id="tamanho_combo" name="tamanho_combo" required min="1">
            <br>
            <label for="percentual_vitorias">Percentual Mínimo de Vitórias (%):</label>
            <input type="number" id="percentual_vitorias" name="percentual_vitorias" required min="0">
            <br>
            <label for="data_inicio">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>
            <br>
            <label for="data_fim">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" required>
            <br>
            <button type="submit">Calcular Combos</button>
        </form>`;

    document.getElementById('comboPopup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
}



    function showDecksPopup() {
    let decksContent = document.getElementById('decksContent');
    decksContent.innerHTML = `
        <h2>Listar Decks com Vitória</h2>
        <form id="decksForm" action="/estatisticas" method="post" onsubmit="showDecksResults(event)">
            <label for="min_vitoria_percentage">Percentual Mínimo de Vitórias (%):</label>
            <input type="number" id="min_vitoria_percentage" name="min_vitoria_percentage" required>
            <br>
            <label for="data_inicio">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>
            <br>
            <label for="data_fim">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" required>
            <br>
            <button type="submit">Listar Decks</button>
        </form>
    `;
    document.getElementById('decksPopup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
}

function closeDecksPopup() {
    document.getElementById('decksPopup').style.display = 'none';
}

function showDecksResults(event) {
    event.preventDefault(); // Impede o envio padrão do formulário
    const formData = new FormData(event.target);
    
    // Fetch para pegar os resultados do servidor
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(formData)
    })
    .then(response => response.json())
    .then(decks => {
        let decksContent = document.getElementById('decksContent');
        decksContent.innerHTML = '<h2>Decks com Boa Vitória</h2>';
        
        if (Object.keys(decks).length === 0) {
            decksContent.innerHTML += '<p>Nenhum deck encontrado.</p>';
        } else {
            for (const [deck, winRate] of Object.entries(decks)) {
                decksContent.innerHTML += `<p>Deck: ${deck}, Taxa de Vitória: ${winRate.toFixed(2)}%</p>`;
            }
        }
    })
    .catch(error => console.error('Erro ao obter os resultados:', error));
}





function showVictoryPopup() {
    let victoryContent = document.getElementById('comboContent');
    let options = cartas.map(carta => `<option value="${carta.name}">${carta.name}</option>`).join('');
    
    victoryContent.innerHTML = `
        <h2>Calcular Vitórias com a Carta</h2>
        <form id="victoryForm" action="/estatisticas" method="post" onsubmit="showVictoryResultPopup(event)">
            <label for="1">Escolha a carta:</label>
            <select id="1" name="carta" required>
                ${options}
            </select>
            <br>
            <label for="percentual_trofeus">Percentual de Troféus (%):</label>
            <input type="number" id="percentual_trofeus" name="percentual_trofeus" required>
            <br>
            <label for="duracao_maxima">Duração Máxima (minutos):</label>
            <input type="number" id="duracao_maxima" name="duracao_maxima" required>
            <br>
            <label for="data_inicio">Data Início:</label>
            <input type="date" id="data_inicio" name="data_inicio" required>
            <br>
            <label for="data_fim">Data Fim:</label>
            <input type="date" id="data_fim" name="data_fim" required>
            <br>
            <button type="submit">Calcular Vitórias</button>
        </form>
    `;
    document.getElementById('comboPopup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
}

function showVictoryResultPopup(event) {
    event.preventDefault(); // Impede o envio padrão do formulário
    const formData = new FormData(event.target);

    // Fetch para pegar os resultados do servidor
    fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(formData)
    })
    .then(response => response.json())
    .then(resultado => {
        document.getElementById('resultContent').innerHTML = `
            <p>Total de vitórias envolvendo a carta: ${resultado.total_vitorias}</p>
        `;
        document.getElementById('resultPopup').style.display = 'block';
        closeComboPopup(); // Fecha o popup anterior
    })
    .catch(error => console.error('Erro ao obter os resultados:', error));
}





</script>

</html>
